body{
    background: #BDBDBD;
}

/* Catalina Flores*/
#tagline-container{
    background-image: url('/website/assets/img/bg.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 650px;
}