<!-- Catalina Flores -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 </head>
 <body>

<style>
    #tagline-container{
        min-height: 750px;
    background-image: url();
    align-items: center;
    align-content: center;

    }
    </style>


<div class="px-4 py-5 text-center" id="tagline-container">

<div><h1 class="bg-white display-1 fw-bold text-body-emphasis text-dark my-4">One Page Wonder</h1> </div>
    
<div><h2 class="bg-white display-2 fw-bold text-body-emphasis text-dark my-4">Will Knock Your Socks Off</h2>
</div>
    

</div>


    
 </body>
 </html>